<nav class="fixed top-0 w-full bg-yellow-400 flex justify-between items-center h-14 px-3 z-50">
  <!-- Logo -->
  <div class="border-r border-white/40 pr-3">
    <%= link_to root_path, class: "text-2xl font-black text-white/80" do %>
      <h1>JoinJob</h1>
    <% end %>
  </div>
  

  <div class="form-inline my-2 my-lg-0">
 
    <%= form_tag courses_path, method: :get do %>
      <div class="input-group">

        <%= text_field_tag :title, params[:title], autocomplete: 'off', placeholder: 'Search' %>
        <span class="input-group-append">
        <button type="submit">
        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
        </svg>
      </button>
        </span>
      </div>
    <% end %>

</div>

  

  <!-- Navigation -->
  <div class="flex items-center space-x-4">
 
  <div class="flex items-center  bg-yellow-500 h-10 rounded-full px-3">
    <% items = [
      ["JOINJOB", root_path],
      ["COURSES", courses_path],
      ["OPTIONS", edit_user_registration_path]
    ].compact %>

    <%= select_tag :navigation,
        options_for_select(items, request.path),
        onchange: "Turbo.visit(this.value)",
        data: { turbo_frame: :main }
    %>

  </div>
  <div> 

  <!-- User Actions -->
  <% if user_signed_in? %>
    <%= link_to 'Sign out',
                destroy_user_session_path,
                data: { turbo_method: :delete },
                class: "text-white bg-red-700 hover:bg-red-800  font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 " %>             
  <% end %>

  </div>
  </div>
</nav>




